$grid-breakpoints: (
	xs: 0,
	sm: 480px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
	xxl: 1440px
);

$container-max-widths: (
	sm: 480px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
	xxl: 1440px
);

@import "../node_modules/bootstrap/scss/bootstrap";

.quiz-body {

	.quiz-container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;

		.quiz-box {
			p {

			}

			.quiz-content {
				
				svg {
					width: 64px;
					height: 64px;
					border: 2px solid $blue-500;
					border-radius: 5px;
				}
			}
		}
	}
}
